/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

/* Estilo para los botones */
.metodo-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.metodo-btn:hover {
    background-color: #45a049;
}

/* Ocultar todas las secciones al inicio */
.metodo {
    display: none;
}

h1 {
    color: #333;
}

/* Estilos adicionales */
button {
    margin-top: 20px;
}
